[user]
	name = Kenny MacDermid
	email = kenny.macdermid@gmail.com
[clean]
	requireForce = true
[color]
	status = auto
	diff = auto
	branch = auto
[alias]
	st = status
	ci = commit
	co = checkout
	cp = cherry-pick
	ri = rebase --interactive --autosquash
[status]
	showUntrackedFiles = no
[branch]
	autosetuprebase = local
[mergetool]
	keepBackup = true
[merge]
	tool = meld
[push]
	default = simple
[pull]
	ff = only
[help]
	autocorrect = 1
[rerere]
	enabled = true
[rebase]
	autoStash = true
