Xft.dpi:                  270
Xcursor.theme:            whiteglass
Xcursor.size:             32 

! Not quite right, but mostly works
URxvt*termName:           xterm-256color
URxvt*foreground:         rgb:b2/b2/b2
URxvt*background:         rgb:08/08/08

*color0:  #2E3436
*color1:  #a40000
*color2:  #4E9A06
*color3:  #C4A000
*color4:  #3465A4
*color5:  #75507B
*color6:  #ce5c00
*color7:  #babdb9
*color8:  #555753
*color9:  #EF2929
*color10: #8AE234
*color11: #FCE94F
*color12: #729FCF
*color13: #AD7FA8
*color14: #fcaf3e
*color15: #EEEEEC

URxvt*scrollBar:          false
URxvt*modifier:           mod4
URxvt*font:               xft:Bitstream Vera Sans Mono:pixelsize=24
URxvt*keysym.M-c:         perl:clipboard:copy
URxvt*keysym.M-v:         perl:clipboard:paste
URxvt*perl-ext-common:    default,clipboard
URxvt*keysym.C-equal:     command:\033]710;xft:Bitstream Vera Sans Mono:pixelsize=28\007
URxvt*keysym.C-0:         command:\033]710;xft:Bitstream Vera Sans Mono:pixelsize=24\007
URxvt*keysym.C-minus:     command:\033]710;xft:Bitstream Vera Sans Mono:pixelsize=20\007
